span{
    color: #037BC0;
}

  
*html{
    align-items: center;
    font-size: 62.5;
}


.hero img{
  background-image: url(imagenes/principal.jpg);
  size: 25rem;
}

@media screen and (max-width: 768px) {
  .hero{
    size: 55rem;
  }
}

@media screen and (max-width: 768px) {
  .conteiner {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10%; 
    padding-right: 10%;
     }
     .conteiner .product:nth-child(1){
      margin: 1rem;
     }
     .conteiner .product:nth-child(2){
      margin: 1rem;
     }
     .conteiner .product:nth-child(3){
      margin: 1rem;
     }
     .conteiner .product:nth-child(4){
      margin: 1rem;
     }
     .conteiner .product:nth-child(5){
      margin: 1rem;
     }
     .conteiner .product:nth-child(6){
      margin: 1rem;
     }

}




body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1{
    font-size: 5rem;
    text-align: center;
}
h2{
    font-size: 4rem;
    text-align: center;
}

h3{
    font-size: 4rem;
    text-align: center;
}
h1,h2,h3{
    font-family: "playfair", sans-serif;
}


.conteiner {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10%; 
    padding-right: 10%;
     }

  .product img {
    width: 100%;
    height: auto;
  }

  .product{
    background-color: #037BC0;
    color: beige;
  }
  
  .conteiner .product:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 1rem;
    
  }
  
  .conteiner .product:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(6) {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    margin: 1rem;
  }
  .categorias{
    display: flex;
    width: 98%;
    gap: 20px;
    padding: 10px;       
  }

.img-transition{
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.img-transition:hover{
  transform: scale(1.1);
}

.card-img-top{
  object-fit: cover;
  height: 200px;
}


footer {
  padding-left: 30px;
  padding-right: 30px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
footer div h3{
    text-align: center;
    color: beige;
}
ul li{
    list-style: none;
    }
.footer1{
    text-align: center;
}
.footer2{
    text-align: center;
}
.footer3{
    text-align: center;
}
ul li a{
  text-decoration: none;
  color: beige;
}

