span{
    color: #037BC0;
}
*html{
    font-size: 62.5;
}
body nav{
    background-color: #3b3b3b;
    text-align: center;
}
nav a{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: beige;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h3{
    text-align: center;
}
h1,h2,h3{
    font-family: "playfair", sans-serif;
}
.hero{
    background-image: url(principal.jpg);
    background-size: 25rem;
    background-repeat: no-repeat; 
}
footer {
    background-color: #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
footer div h3{
    text-align: center;
    color: beige;
    padding-left: 50px;
}
ul li{
    list-style: none;
    }
.footer1{
    text-align: center;
}
.footer2{
    text-align: center;
}
.footer3{
    text-align: center;
}
