span{
    color: #037BC0;
}
img {
    max-width: 50vw;
    height: auto;
  }
  
*html{
    align-items: center;
    font-size: 62.5;
}
body nav{
    background-color: #3b3b3b;
    text-align: center;
}
nav a{
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: beige;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
h1,h2,h3{
    font-family: "playfair", sans-serif;
}
.hero{
    background-image: url(principal.jpg);
    background-size: 25rem;
    background-repeat: no-repeat; 
}
.conteiner {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
  }
  .product img {
    width: 100%;
    height: auto;
  }
  
  .conteiner .product:nth-child(1) {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(2) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 1rem;
    
  }
  
  .conteiner .product:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    margin: 1rem;
  }
  
  .conteiner .product:nth-child(6) {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    margin: 1rem;
  }


footer {
    background-color: #3b3b3b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
footer div h3{
    text-align: center;
    color: beige;
}
ul li{
    list-style: none;
    }
.footer1{
    text-align: center;
}
.footer2{
    text-align: center;
}
.footer3{
    text-align: center;
}

